<!DOCTYPE html>
<html>
<head>
  <title>Inviteable</title>
  <%= stylesheet_link_tag    "inviteable/application" %>
  <%= javascript_include_tag "inviteable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
